html {
    background-color: #F7F7F8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + (14 - 8) * (100vw - 400px)/(800-400)); /* https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
    /*  line-height: 1.5; */
    color:#222222;
}

h1 {
    margin-bottom:1px;
    margin-top:0 ;

    font-size: 30px;
    line-height: 1;
}

h3.heading {
    padding-bottom: 20px;
    font-size: 35px;
}

p.paper {
    font-weight: 480;
    font-style: normal;
}

p {
    font-weight: 350;
}

p.authors {
    font-style: normal;
    font-weight: 350;
}

p.intro {
    font-size: calc(14px + (16 - 14) * (100vw - 400px)/(800-400));
    font-weight: 350;
}

p#socialmedia {
    margin-bottom:2%;
    margin-top:0%;

    font-size:12px;
    text-align:left;
}

p#title, a#title {
    margin-bottom:2.5%;
    margin-top:0;

    font-size:18px;
    font-weight: 460 !important;
    line-height: 1.2;
    text-align:left;
}

/* selected link */
a:active, a:hover {
    color: #359fb5 !important;
    text-decoration: underline;
}

a {
    color: #0C5E6F !important;
}

a.research {
    font-weight:400;
    cursor: pointer;
}

b.myname {
    font-weight: 480;
}

text {
    font-size:1vw !important;
    font-color:#0C5E6F !important;
}

section.me {
    background-color: #ECECEC;
}

section.news {
    margin:10%;
    margin-bottom:0;
    margin-top:5%;
}

section.myresearch {
    margin:10%;
    margin-bottom:30px;
    margin-top:5%;

    background-color: white;
}

div.card {
    padding-top:0px;
}

div.me {
    padding-bottom:25px;
    padding-left:15%;
    padding-right:15%;
    padding-top:5%;
}


/*BEFORE scaling*/
table.myresearchtable {
    display: table; width: 100%;
    margin-right: auto;
    margin-bottom: 50px;
    vertical-align: center !important;
}


td.pubimage {
    display: inline-table; 
    vertical-align: center;
    padding-bottom:20px !important;
    text-align: left;
    width: 260px;

} /* Will be displayed at the top of the pseudo-table */ 

td.myresearch {
    /*display: inline-table;*/
    text-align: left !important;
    width: 100%;
    vertical-align: center;
    line-height: 15px;
} /* Will be displayed at the bottom */



/*AFTER scaling*/
@media only screen and (max-width: 700px){
    table.myresearchtable tr.row > * {
        display: table;
        display: center;
    }

    table.myresearchtable tr.row {
        display: inline-table;
    }

    td.pubimage > * {
        display: table-header-group; 

        margin-left: 60px;

        /* text-align:center !important;*/
    } /* Will be displayed at the top */

    td.myresearch > * {

        display: table-footer-group;
        text-align:left;
        display: block;
        margin-left: 60px;
        margin-top: 20px;

    } /* Will be displayed at the bottom */

}



#floated { /* profile image */
    float: left;
    margin-left:2.5%;
    margin-right:2.5%;

    background: none; 
}

table.newstable {
    margin-left: 5%;
}

td.date {
    vertical-align:text-top;
    font-size: 14px;
    font-weight: 500;
}

td.newstext {
    padding-left: 25px;
    vertical-align:text-top;

    font-weight: 350;
    padding-bottom:1.5%;
    vertical-align:top;
}

img.pubimage {
    max-width: 230px; 
}

img.profile {
    float: left;

    border-radius: 50%;
    height: auto;
    margin-bottom:2em;
    margin-left:.01em;
    margin-right:.01em; 
    min-width: 170px;
    width: 33%;

    padding:3px;
    border:1px solid #C5CDCE;
    background-color:white;
}

pre {
    font-size:.8vw !important;
    /*margin-top: 10%;*/
}

/* Show More Feature */

.limit-items .items tr:nth-of-type(n + 4) {
    display: none;
}

.limit-items #show-all:checked ~ .items tr {
    display: table-row;
    /*display: table-row;*/
}

.limit-items #show-all ~ label[for="show-all"] {
    display: none;
}

.limit-items #show-all:checked ~ .text-hide {
    display: inline-block;
    /*border:solid;*/
    /*border-width: 1px;*/
    padding: .5%;
}

.limit-items #show-all:not(:checked) ~ .text-show {
    display: inline-block;
    /*border:solid;*/
    /*border-width: 1px;*/
    padding: .5%;
}

.limit-items {
    display: block;
    position: relative;
    padding-bottom: 2.5em;
}

.limit-items #show-all {
    display: none;
}

.limit-items label[for="show-all"] {
    /*border:solid;
    border-style: dashed;
    border-width: 1px;*/
    display: block;
    position: absolute;
    width: 25%;
    min-width: 120px;
    bottom: 0;

    margin-left: 40%;
    margin-right: 25%, auto;

    cursor: pointer;
    color: #A0A0A0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}

.limit-items label[for="show-all"]:hover {
    border:solid;
    border-width: 1px;
}

.limit-items label[for="show-all"]:active {
    border: 1px solid #222;
    background-color: #222;
    color: #fff;
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #ECECEC;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-top: 10px;
    color: #99afba;
    font-size: 12px;
}

